body {
 
    background-size: cover ;
    background-image: url("../image/chat-app1.jpg");
    background-repeat: no-repeat;


}
/* .register-container{ */

/* } */

.register-header{
margin: 20px;

}
.register-container{
    margin: 0 auto;
    background-color: rgba(255, 255, 255 , 0.7 );
    text-align: center;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    border-radius: 20px;
}
input{
    margin-bottom: 20px;
    width: 300px;
    height: 25px;
    border-radius: 30px;
    border: none;
}
button{
    margin-top: 20px;
}